body {				
    font-family: Arial;
    text-align: center;
    background-color: #ffffcc;
}
h1{
    background-color: #2222ff;
    color: white;
    width:300px;
    padding:15px;
    margin: auto;
    border-radius:5px;
    margin-top:30px;
    margin-bottom: 30px;
}
.div{
    background-color: #6a0dad;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 100px;
    width:800px;
    margin: auto;
}
form {
    background-color: #ffffff;
    width: 450px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: auto;

}
.mail,.pass{
    width: 90%;
    padding: 10px;
    margin-top: 0;
    margin-bottom:20px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #cccccc;
}
.login{
    color: white;
    background-color: #6a0dad;
    padding-bottom: 20px;
}
h2{
    text-align: center;
}
p{
    margin-bottom: 7px;
    margin-top: 0;
    text-align: left;
    color: #707070;
}
button{
    width: 90%;
    background-color: #6a0dad;
    border: none;
    color: white;
    font-size: 15px;
    padding: 12px;
    border-radius:3px;	
    margin-bottom: 15px;
}
a{
    text-align: center;
}
